
DB_URL=jdbc:postgresql://localhost:5432/docmanagement
DB_USERNAME=admin
DB_PASSWORD=admin123


JWT_SECRET=pune_aici_un_secret_lung_de_minim_64_caractere_la_alegere


MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123