
DB_URL=jdbc:postgresql://localhost:5432/docmanagement
DB_USERNAME=admin
DB_PASSWORD=admin123


JWT_SECRET=3f8b2c1d9e4a7f6b0c5d2e1a8f3b9c4d7e0a1f2b5c8d3e6f9a0b1c2d3e4f5a6b


MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123